git ./swiftlogix/target/*

### Ignorar todos los archivos de db/mysql_data salvo la carpeta db/mysql_data/swiftlogix ###
db/mysql_data/*
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### FrontEnd ###
/FrontEnd/node_modules
/FrontEnd/.pnp
/FrontEnd/.pnp.js
/FrontEnd/.env

.vscode

#Carpeta de fotos 
/swiftlogix/src/main/resources/fotosFactura/*