git ./swiftlogix/target/*

### Ignorar todos los archivos de db/mysql_data salvo la carpeta db/mysql_data/swiftlogix ###
db/mysql_data/*
!db/mysql_data/dump.sql
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr